* {
    box-sizing: border-box;
}

body {
    background-image: url(./assets/home.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

.current-ancient {
    margin: 50px auto 0 auto;
}

.pick-ancient{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card {
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 200px;
    height: 260px;
}

.ancient {
    cursor: pointer;
}

.ancient:hover {
    border: 2px solid #ff0000;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 300px;
}

.difficulty {
    width: 120px;
    color: #ffffff;
    border-color: #ff0000;
    background-color: transparent;
    cursor: pointer;
}

.difficulty:hover {
    background-color: #ff0000;
}

.difficulty-active {
    background-color: #ff0000;
}

.shuffle {
    width: 120px;
    margin-top: 50px;
    color: #4d1919;
    background-color: #b55e5e;
    cursor: pointer;
} 

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding-top: 20px;
    
}

.deck {
    background-image: url(./assets/mythicCardBackground.png);
    cursor: pointer;
}

.deck:hover {
    border: 2px solid #a20e0e;
}

.current-card {
    margin-top: 10px;
}

.counter-container {
    width: 200px;
    text-align: center;
    color: #ffffff;
}

.counter-item {
    display: flex;
    justify-content: center;
    
}

.counter {
    padding-top: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    color: #000000;
}

.green {
    background-color: #00ff00;
}

.brown {
    background-color: #a52a2a;
}

.blue {
    background-color: #0000ff;
}

.inactive {
    display: none;
}